#datapoints_selection_panel {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

#control_panel {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

#control_panel input {
    padding: 5px;
    margin-right: 10px;
}